<head
	th:fragment="common_link"
	th:remove="tag">
<meta charset="utf-8">
<meta
	http-equiv="X-UA-Compatible"
	content="IE=edge">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1">
<title>販売管理</title>
<!-- Bootstrap -->
<link
	href="/bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- jQuery読み込み -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQueryValidate -->
<script src="/bower_components/jquery.validate/dist/jquery.validate.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- angular 読み込み -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<!-- common -->
<link
	href="/common/common.css"
	rel="stylesheet">
<script src="/common/common.js"></script>
<script src="/common/ng-extension.js"></script>
<script th:inline="javascript">

	ngModules.service('common', [ '$rootScope', '$filter',
	// common	
	function($scope, $filter) {
		$scope.mode = /*[[${mode}]]*/null;
		$scope.isReadMode = function() {
			return "read" === $scope.mode;
		};
		$scope.isRegisterMode = function() {
			return "register" === $scope.mode;
		};
		$scope.isUpdateMode = function() {
			return "update" === $scope.mode;
		};
		this.toRead = function() {
			$scope.mode = "read";
		};
		this.toRegister = function() {
			$scope.mode = "register";
		};
		this.toUpdate = function() {
			$scope.mode = "update";
		};
		this.setMode = function(_mode) {
			$scope.mode = _mode;
		};
	} ]);
	
	// FIXME need updating after $httpw.post()
	/*<![CDATA[*/
	function isReadMode() {
		return "read" === /*[[${mode}]]*/null;
	}
	function isRegisterMode() {
		return "register" === /*[[${mode}]]*/null;
	}
	function isUpdateMode() {
		return "update" === /*[[${mode}]]*/null;
	}

	var HanbaiKubun = {};
	HanbaiKubun.kakeuri = /*[[${T(com.showka.kubun.HanbaiKubun).valueOf("掛売").code}]]*/null;

	/*]]>*/
</script>
</head>