<header th:fragment="common_header">
	<nav id='myNavbar' class='navbar navbar-default' role='navigation'>
		<!-- Brand and toggle get grouped -->
		<div class='container'>

			<!-- you are missing this part below -->
			<div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
					<span class='sr-only'>Toggle navigation</span> <span class='icon-bar'></span> <span class='icon-bar'></span> <span
						class='icon-bar'></span>
				</button>
				<a class='navbar-brand' href='/u00g001'>Menu</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
				<ul class="menu nav navbar-nav">
					<li class=" dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/info">顧客管理</a>
						<ul class="dropdown-menu">
							<li class=""><a class="" href="/u01g001">u01g001 検索</a></li>
							<li class=""><a class="" href="/u01g002/registerForm">u01g002 登録</a></li>
						</ul></li>
					<li class=" dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/info">売上管理</a>
						<ul class="dropdown-menu">
							<li class=""><a class="" href="/u05g001/refer">u05g001 検索</a></li>
							<li class=""><a class="" href="/u05g002/registerForm">u05g002 登録</a></li>
						</ul></li>
					<li class=" dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/info">請求管理</a>
						<ul class="dropdown-menu">
							<li class=""><a class="" href="/u07g001/refer">u07g001 検索</a></li>
						</ul></li>
					<li class=" dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/info">入金管理</a>
						<ul class="dropdown-menu">
							<li class=""><a class="" href="/u08g001/refer">u08g001 入金検索</a></li>
							<li class=""><a class="" href="/u08g002/registerForm">u08g002 集金登録</a></li>
						</ul></li>
					<li class=" dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/info">商品管理</a>
						<ul class="dropdown-menu">
							<li class=""><a class="" href="/u11g001/refer">u11g001 在庫一覧</a></li>
							<li class=""><a class="" href="/u11g003/registerForm">u11g003 商品入荷</a></li>
						</ul></li>
					<li class=" dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/info">締め管理</a>
						<ul class="dropdown-menu">
							<li class=""><a class="" href="/u17g001/refer">u17g001 締め</a></li>
						</ul></li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
	<div class="bootstrap-iso">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12" id="message-container">
					<div class="alert alert-success" id="successMessage" th:if="${form != null and form.successMessage != null}"
						th:utext="${form.successMessage}"></div>
					<div class="alert alert-info" id="infoMessage" th:if="${form != null and form.infoMessage != null}"
						th:utext="${form.infoMessage}"></div>
					<div class="alert alert-warning" id="warningMessage" th:if="${form != null and form.warningMessage != null}"
						th:utext="${form.warningMessage}"></div>
					<div class="alert alert-danger" id="errorMessage" th:if="${form != null and form.errorMessage != null}"
						th:utext="${form.errorMessage}"></div>
				</div>
			</div>
		</div>
	</div>

</header>
