<!DOCTYPE html>
<html lang="ja">

<head>
<link th:replace="common/head :: common_link" />
<script
	th:inmeisai="javascript"
	src="/u08/u08g003.js"></script>
</head>
<body ng-app="App">
	<div th:replace="common/header :: common_header"></div>
	<!-- powerd by Bootstrap Form Builder https://formden.com/form-builder/ -->
	<div class="bootstrap-iso">
		<div
			class="container"
			ng-controller="MainController">
			<form>
				<input
					class="form-control"
					id="nyukinId"
					name="nyukinId"
					type="hidden"
					th:value="${form.nyukinId}"
					ng-model="nyukinId"
					required />
			</form>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="col-sm-2 col-sm-offset-9 col-xs-2 col-xs-offset-9">
						<input
							id="deleteBtn"
							type="button"
							class="btn btn-primary btn-sm"
							value="更新モードへ"
							ng-disabled="editable"
							ng-click="updateForm()"></input>
					</div>
				</div>
			</div>
			<h4>入金</h4>
			<div class="row">
				<div class="col-md-6 col-sm-9 col-xs-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>顧客</th>
								<th>部署</th>
								<th>入金日</th>
								<th>入金方法</th>
								<th>金額</th>
								<th>未消込</th>
							</tr>
						</thead>
						<tbody id="nyukin">
							<tr>
								<td class="col-sm-1">{{kokyakuName}}</td>
								<td class="col-sm-1">{{bushoName}}</td>
								<td class="col-sm-1">{{nyukinDate}}</td>
								<td class="col-sm-1">{{nyukinHoho}}</td>
								<td class="col-sm-1">{{nyukinKingaku}}</td>
								<td class="col-sm-1">{{mikeshikomi}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<h4>入金消込</h4>
			<div class="row">
				<div class="col-md-7 col-sm-10 col-xs-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>売上日</th>
								<th>伝票番号</th>
								<th>売上</th>
								<th>消込前残高</th>
								<th>消込金額</th>
								<th>消込後</th>
								<th>消込日</th>
							</tr>
						</thead>
						<tbody id="keshikomiList">
							<tr ng-repeat="keshikomi in keshikomiList | orderBy:['uriageDate', 'uriageDenpyoNumber', 'date']">
								<td class="col-sm-1">{{keshikomi.uriageDate}}</td>
								<td class="col-sm-1">{{keshikomi.uriageDenpyoNumber}}</td>
								<td class="col-sm-1">{{keshikomi.uriageKingaku}}</td>
								<td class="col-sm-2">{{keshikomi.urikakeZandaka}}</td>
								<td class="col-sm-3">
									<input
										type="text"
										class="form-control"
										ng-readonly="!editable"
										ng-model="keshikomi.kingaku" />
								</td>
								<td>{{keshikomi.urikakeZandaka - keshikomi.kingaku}}</td>
								<td class="col-sm-1">{{keshikomi.date}}</td>
							</tr>
						</tbody>
					</table>
					<div class="form-group">
						<div class="col-sm-1">
							<input
								id="registerBtn"
								type="button"
								class="btn btn-primary btn-sm"
								ng-click="register()"
								ng-disabled="true"
								value="登録"
								ng-show="false" />
							<input
								ng-click="update();"
								id="updateBtn"
								type="button"
								class="btn btn-primary btn-sm"
								value="更新"
								ng-disabled="!editable"
								ng-show="isUpdateMode()" />
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/footer :: common_footer"></div>
</body>
</html>
