<!DOCTYPE html>
<html lang="ja">

<head>
<link th:replace="common/head :: common_link" />
<script
	th:inmeisai="javascript"
	src="/u07/u07g001.js"></script>
</head>
<body ng-app="App">
	<div th:replace="common/header :: common_header"></div>
	<!-- powerd by Bootstrap Form Builder https://formden.com/form-builder/ -->
	<div class="bootstrap-iso">
		<div
			class="container"
			ng-controller="MainController">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<form
						id="searchForm"
						class="form-horizontal">
						<div class="form-group form-group-sm">
							<label
								class="control-label col-sm-2"
								for="kokyakuCode">顧客</label>
							<div class="col-sm-10">
								<input
									class="form-control"
									id="kokyakuCode"
									name="kokyakuCode"
									type="text"
									placeholder="KK01"
									th:value="${form.kokyakuCode}"
									ng-model="kokyakuCode"
									ng-init-from-value
									required />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10 col-sm-offset-2">
								<input
									id="searchBtn"
									type="button"
									class="btn btn-primary btn-sm"
									value="請求取得"
									ng-click="getList(kokyakuCode);" />
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<table class="table table-striped">
					<caption>{{kokyakuName}}</caption>
					<thead>
						<tr>
							<th>請求日</th>
							<th>合計金額</th>
							<th>支払期日</th>
						</tr>
					</thead>
					<tbody id="seikyuList">
						<tr ng-repeat="seikyu in seikyuList">
							<td class="col-sm-1">
								<span
									class="glyphicon glyphicon-list-alt"
									style="padding-right: 5px; cursor: pointer;"
									ng-click="get(seikyu.seikyuDate);"> </span>{{seikyu.seikyuDate}}
							</td>
							<td class="col-sm-1">{{seikyu.gokeiKingaku}}</td>
							<td class="col-sm-1">{{seikyu.shiharaiDate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="common/footer :: common_footer"></div>
</body>
</html>
