<!DOCTYPE html>
<html lang="ja">

<head>
<link th:replace="common/head :: common_link" />
<script
	th:inmeisai="javascript"
	src="/u11/u11g003.js"></script>
</head>
<body ng-app="App">
	<div th:replace="common/header :: common_header"></div>
	<!-- powerd by Bootstrap Form Builder https://formden.com/form-builder/ -->
	<div class="bootstrap-iso">
		<div
			class="container"
			ng-controller="MainController">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<form
						id="searchForm"
						class="form-horizontal">
						<div class="row">
							<div class="col-sm-4 col-xs-4"></div>
							<div class="col-sm-2 col-xs-2">
								<input
									type="button"
									class="btn btn-secondary btn-sm whenRead"
									value="参照モード"
									ng-show="isUpdateMode()"
									ng-click="toRead()"></input>
							</div>
							<div class="col-sm-2 col-xs-2">
								<input
									type="button"
									class="btn btn-secondary btn-sm whenRead"
									value="更新モード"
									ng-show="isReadMode()"
									ng-click="toUpdate()"></input>
							</div>
							<div class="col-sm-2 col-xs-2">
								<input
									type="button"
									class="btn btn-secondary btn-sm whenRead"
									value="訂正モード"
									ng-show="isReadMode()"
									ng-click="toRegisterTeisei()"></input>
							</div>
							<div class="col-sm-2 col-xs-2">
								<input
									type="button"
									class="btn btn-secondary btn-sm whenRead"
									value="訂正更新モード"
									ng-show="isReadMode()"
									ng-click="toUpdateTeisei()"></input>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9 col-xs-9"></div>
							<div class="col-sm-1 col-xs-1">
								<input
									id="deleteBtn"
									type="button"
									class="btn btn-primary btn-sm"
									value="削除"
									ng-show="isReadMode()"
									ng-click="delete()" />
							</div>
							<div class="col-sm-1 col-xs-1">
								<input
									id="deleteBtn"
									type="button"
									class="btn btn-primary btn-sm"
									value="訂正の削除"
									ng-show="isReadMode()"
									ng-click="deleteTeisei()" />
							</div>
						</div>
						<h4>商品入荷</h4>
						<div class="form-group form-group-sm">
							<label
								class="control-label col-sm-2"
								for="bushoCode">部署</label>
							<div class="col-sm-10">
								<input
									class="form-control"
									id="bushoCode"
									name="bushoCode"
									type="text"
									placeholder="BS01"
									ng-model="bushoCode"
									ng-init-from-value
									required />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label
								class="control-label col-sm-2"
								for="bushoCode">入荷先</label>
							<div class="col-sm-10">
								<input
									class="form-control"
									id="bushoCode"
									name="bushoCode"
									type="text"
									placeholder="BS01"
									ng-model="bushoCode"
									ng-init-from-value
									required />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label
								class="control-label col-sm-2"
								for="date">入荷日</label>
							<div class="col-sm-10">
								<input
									class="form-control"
									id="date"
									name="date"
									type="text"
									placeholder="yyyy/MM/dd"
									ng-model="date"
									ng-init-from-value
									required />
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="col-md-2 col-sm-2">
					<input
						id=""
						type="button"
						class="btn btn-secondary btn-sm"
						value="明細入力"
						ng-click="startEditingMeisaiList()"
						ng-show="true" />
				</div>
				<div class="col-md-2 col-sm-2">
					<input
						id=""
						type="button"
						class="btn btn-secondary btn-sm"
						value="明細追加"
						ng-click="addMeisai()"
						ng-show="true" />
				</div>
				<div class="col-md-1 col-sm-1">
					<input
						ng-click=""
						id=""
						type="button"
						class="btn btn-secondary btn-sm"
						value="訂正履歴"
						ng-show="true" />
				</div>
				<table class="table table-striped">
					<caption>明細</caption>
					<thead>
						<tr>
							<th>#</th>
							<th>商品</th>
							<th></th>
							<th>移動数</th>
						</tr>
					</thead>
					<tbody id="nyukaList">
						<tr
							ng-repeat="meisai in meisaiList"
							ng-present-deleted="meisai">
							<td class="col-sm-1">
								<input
									name="meisai[{{$index}}].meisaiNumber"
									class="form-control"
									type="number"
									ng-model="meisai.meisaiNumber"
									ng-readonly="true"
									ng-show="isReadMode()" />
							</td>
							<td class="col-sm-5">
								<input
									name="meisai[{{$index}}].shohinCode"
									class="form-control"
									type="text"
									ng-model="meisai.shohinCode"
									ng-readonly="!meisai.editing"
									required />
							</td>
							<td class="col-sm-2">
								<input
									name="meisai[{{$index}}].hanbaiNumber"
									class="form-control"
									type="number"
									ng-model="meisai.hanbaiNumber"
									ng-readonly="!meisai.editing"
									required />
							</td>
							<td ng-hide="true">
								<input
									name="meisai[{{$index}}].version"
									type="number"
									ng-model="meisai.version" />
								<input
									name="meisai[{{$index}}].recordId"
									type="text"
									ng-model="meisai.recordId" />
								<input
									name="meisai[{{$index}}].editMode"
									type="text"
									ng-model="meisai.editMode" />
							</td>
							<td
								class="col-sm-1"
								ng-show="!isReadMode()">
								<input
									class="btn btn-default"
									type="button"
									ng-click="done(meisai)"
									ng-show="meisai.editing"
									ng-disabled="uriageDenpyo.$invalid"
									value="完了" />
								<button
									class="btn btn-default"
									type="button"
									ng-click="edit(meisai)"
									ng-show="!meisai.editing">編集</button>
							</td>
							<td
								class="col-sm-1"
								ng-show="!isReadMode()">
								<button
									class="btn btn-default"
									type="button"
									ng-click="removeMeisai(meisai)">削除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="col-md-1 col-sm-1">
					<input
						id="registerBtn"
						type="button"
						class="btn btn-primary btn-sm"
						ng-click="register()"
						ng-disabled="false"
						value="登録"
						ng-show="true" />
				</div>
				<div class="col-md-1 col-sm-1">
					<input
						id="updateBtn"
						type="button"
						class="btn btn-primary btn-sm whenUpdate"
						value="更新"
						ng-show="isUpdateMode()"
						ng-click="update()"
						 />
				</div>
				<div class="col-md-1 col-sm-1">
					<input
						id=""
						type="button"
						class="btn btn-primary btn-sm"
						value="訂正"
						ng-show=""
						ng-click="registerTeisei()"
						 />
				</div>
				<div class="col-md-1 col-sm-1">
					<input
						id=""
						type="button"
						class="btn btn-primary btn-sm"
						value="訂正の更新"
						ng-show=""
						ng-click="updateTeisei()"
						/>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/footer :: common_footer"></div>
</body>
</html>
