<!DOCTYPE html>
<html lang="ja">

<head>
<link th:replace="common/head :: common_link" />
<script src="/u17/u17g001.js"></script>
</head>

<body ng-app="App">
	<div th:replace="common/header :: common_header"></div>
	<!-- powerd by Bootstrap Form Builder https://formden.com/form-builder/ -->
	<div class="bootstrap-iso">
		<div
			class="container"
			ng-controller="MainController">
			<div class="col-md-10 col-sm-10 col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>部署コード</th>
							<th>部署名</th>
							<th>営業日</th>
							<th>前日売上計</th>
							<th>同訂正計</th>
							<th>振込消込</th>
							<th>振込未処理</th>
							<th>現金消込</th>
							<th>現金未処理</th>
						</tr>
					</thead>
					<tbody id="bushoList">
						<tr ng-repeat="busho in bushoList">
							<td class="col-sm-1">
								<span
									class="glyphicon glyphicon-pushpin"
									style="padding-right: 5px; cursor: pointer;"
									ng-click="close(busho.code, busho.eigyoDate);"> </span>{{busho.code}}
							</td>
							<td class="col-sm-1">{{busho.name}}</td>
							<td class="col-sm-1">{{busho.eigyoDate}}</td>
							<td class="col-sm-1">{{busho.uriageKeijo}}</td>
							<td class="col-sm-1">{{busho.uriageKeijoTeisei}}</td>
							<td class="col-sm-1">{{busho.keshikomiFurikomi}}</td>
							<td class="col-sm-1">{{busho.mishoriFurikomi}}</td>
							<td class="col-sm-1">{{busho.keshikomiGenkin}}</td>
							<td class="col-sm-1">{{busho.mishoriGenkin}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="common/footer :: common_footer"></div>
</body>
</html>
