<!DOCTYPE html>
<html lang="ja">

<head>
<link th:replace="common/head :: common_link" />
<script src="/u01/u01g001.js"></script>
</head>

<body>
	<div th:replace="common/header :: common_header"></div>
	<!-- powerd by Bootstrap Form Builder https://formden.com/form-builder/ -->
	<div class="bootstrap-iso">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<form id="registerForm" class="form-horizontal">
						<div>
						<!--
							<div class="col-sm-1 col-sm-offset-9 col-xs-1 col-xs-offset-9">
								<input onClick="update();" id="updateBtn" type="button" class="btn btn-primary btn-sm" value="更新"></input>
							</div>
							<div class="col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
								<input onClick="delete();" id="deleteBtn" type="button" class="btn btn-primary btn-sm" value="削除"></input>
							</div>
						-->
						<div class="col-sm-1 col-sm-offset-11 col-xs-1 col-xs-offset-11">
							<input onClick="delete();" id="deleteBtn" type="button" class="btn btn-primary btn-sm" value="削除"></input>
						</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12"><h4>顧客情報</h4></div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="kokyakuCode">顧客コード</label>
							<div class="col-sm-9">
								<input class="form-control" id="kokyakuCode" name="kokyakuCode" type="text" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="kokyakuName">顧客名</label>
							<div class="col-sm-9">
								<input class="form-control" id="kokyakuName" name="kokyakuName" type="text" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="kokyakuName">顧客住所</label>
							<div class="col-sm-9">
								<input class="form-control" id="kokyakuName" name="kokyakuName" type="text" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="kokyakuName">顧客区分</label>
							<div class="col-sm-9">
						      <select class="form-control" id="number" name="number">
						        <option value="0" selected="selected">選択してください</option>
						        <option value="2">2</option>
						        <option value="3">3</option>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="bushoName">販売区分</label>
							<div class="col-sm-9">
						      <select class="form-control" id="number" name="number">
						        <option value="0" selected="selected">選択してください</option>
						        <option value="2">2</option>
						        <option value="3">3</option>
						      </select>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12"><h4>部署情報</h4></div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="bushoName">主幹部署</label>
							<div class="col-sm-9">
						      <select class="form-control" id="number" name="number">
						        <option value="0" selected="selected">選択してください</option>
						        <option value="2">2</option>
						        <option value="3">3</option>
						      </select>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12"><h4>請求情報</h4></div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="seikyuShimebi">請求締日</label>
							<div class="col-sm-9">
						      <select class="form-control" id="number" name="number">
						        <option value="0" selected="selected">選択してください</option>
						        <option value="5">05日</option>
						        <option value="10">10日</option>
						        <option value="15">15日</option>
						        <option value="20">20日</option>
						        <option value="25">25日</option>
						        <option value="30">30日</option>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="bushoName">入金方法</label>
							<div class="col-sm-9">
						      <select class="form-control" id="number" name="number">
						        <option value="0" selected="selected">選択してください</option>
						        <option value="2">2</option>
						        <option value="3">3</option>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="bushoName">入金月区分</label>
							<div class="col-sm-9">
						      <select class="form-control" id="number" name="number">
						        <option value="0" selected="selected">選択してください</option>
						        <option value="2">2</option>
						        <option value="3">3</option>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="bushoName">入金日</label>
							<div class="col-sm-9">
								<input class="form-control" id="bushoName" name="bushoName" type="text" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="bushoName">入金サイト</label>
							<div class="col-sm-9">
								30日
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-1 col-sm-offset-3">
								<input onClick="register();" id="registerBtn" type="button" class="btn btn-primary btn-sm" value="登録"></input>
							</div>
							<div class="col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1">
								<input onClick="update();" id="updateBtn" type="button" class="btn btn-primary btn-sm" value="更新"></input>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/footer :: common_footer"></div>
</body>
</html>
