<!DOCTYPE html>
<html lang="ja">

<head>
<link th:replace="common/head :: common_link" />
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
<script  th:inline="javascript" src="/u01/u01g002.js"></script>
<script src="/u01/kokyakuInputValidate.js"></script>
<script src="/u01/nyukinKakeInfoValidate.js"></script>
</head>
<body>
	<div th:replace="common/header :: common_header"></div>
	<!-- powerd by Bootstrap Form Builder https://formden.com/form-builder/ -->
	<div class="bootstrap-iso">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<form id="registerForm" class="form-horizontal">
						<div>
						<div class="col-sm-2 col-sm-offset-8 col-xs-2 col-xs-offset-8">
							<input onClick="updateForm();" id="deleteBtn" type="button" class="btn btn-primary btn-sm whenRead" value="更新モードへ"></input>
						</div>
						<div class="col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
							<input onClick="deleteKokyaku();" id="deleteBtn" type="button" class="btn btn-primary btn-sm whenRead" value="削除"></input>
						</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12"><h4>顧客情報</h4></div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="code">顧客コード</label>
							<div class="col-sm-9">
								<input th:if="${kokyaku}" class="form-control code whenRegister" th:field="${kokyaku.code}" id="code" name="code" type="text" />
								<input th:unless="${kokyaku}" class="form-control code"  id="code" name="code" type="text" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="name">顧客名</label>
							<div class="col-sm-9">
								<input th:if="${kokyaku}" class="form-control required whenUpdate" id="name" name="name" type="text" th:field="${kokyaku.name}" />
								<input th:unless="${kokyaku}" class="form-control required whenRegister" id="name" name="name" type="text" />
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="address">顧客住所</label>
							<div class="col-sm-9">
								<input th:if="${kokyaku}" class="form-control required whenUpdate" id="address" name="address" type="text"  th:field="${kokyaku.address}"/>
								<input th:unless="${kokyaku}" class="form-control required whenRegister" id="address" name="address" type="text"/>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="kokyakuKubun">顧客区分</label>
							<div class="col-sm-9">
						      <select class="form-control selectCheck whenRegister whenUpdate" id="kokyakuKubun" name="kokyakuKubun">
						        <option value="">選択してください</option>
					        	<tr th:each="kokyakuKubun:${kokyakuKubunList}">
						        	<div th:switch='${kokyakuKubun.get("code")}'>
						        	    <div th:if="${kokyaku}">
										    <div th:case="${kokyaku.kokyakuKubun}" ><option th:value='${kokyakuKubun.get("code")}' th:text='${kokyakuKubun.get("name")}' selected="selected" /></div>
											<div th:case="''" ></div>
										    <div th:case="*" ><option th:value='${kokyakuKubun.get("code")}' th:text='${kokyakuKubun.get("name")}' /></div>
										</div>
						        	    <div th:unless="${kokyaku}">
											<div th:case="''" ></div>
										    <div th:case="*" ><option th:value='${kokyakuKubun.get("code")}' th:text='${kokyakuKubun.get("name")}' /></div>
										</div>
									</div>
								</tr>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="hanbaiKubun">販売区分</label>
							<div class="col-sm-9">
						      <select class="form-control selectCheck whenRegister whenUpdate" id="hanbaiKubun" name="hanbaiKubun">
						        <option value="">選択してください</option>
					        	<tr th:each="hanbaiKubun:${hanbaiKubunList}">
						        	<div th:switch='${hanbaiKubun.get("code")}'>
						        	    <div th:if="${kokyaku}">
										    <div th:case="${kokyaku.hanbaiKubun}" ><option th:value='${hanbaiKubun.get("code")}' th:text='${hanbaiKubun.get("name")}' selected="selected" /></div>
											<div th:case="''" ></div>
										    <div th:case="*" ><option th:value='${hanbaiKubun.get("code")}' th:text='${hanbaiKubun.get("name")}' /></div>
										</div>
						        	    <div th:unless="${kokyaku}">
											<div th:case="''" ></div>
										    <div th:case="*" ><option th:value='${hanbaiKubun.get("code")}' th:text='${hanbaiKubun.get("name")}' /></div>
										</div>
									</div>
								</tr>
						      </select>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12"><h4>部署情報</h4></div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="shukanBushoCode">主幹部署</label>
							<div class="col-sm-9">
						      <select class="form-control selectCheck whenRegister whenUpdate" id="shukanBushoCode" name="shukanBushoCode">
						        <option value="">選択してください</option>
					        	<tr th:each="busho:${bushoList}">
						        	<div th:switch="${busho.code}">
						        	    <div th:if="${kokyaku}">
										    <div th:case="${kokyaku.shukanBushoCode}" ><option th:value="${busho.code}" th:text="${busho.name}"  selected="selected" /></div>
										    <div th:case="*" ><option th:value="${busho.code}" th:text="${busho.name}" /></div>
										</div>
						        	    <div th:unless="${kokyaku}">
										    <div th:case="*" ><option th:value="${busho.code}" th:text="${busho.name}" /></div>
										</div>
									</div>
								</tr>
						      </select>
							</div>
						</div>
						<div class="nyukinKakeInfo" style="display: none">
						<div class="col-md-12 col-sm-12 col-xs-12"><h4>請求情報</h4></div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="shimebi">請求締日</label>
							<div class="col-sm-9">
						      <select class="form-control whenRegister whenUpdate" id="shimebi" name="shimebi">
						        <option value="">選択してください</option>
					        	<tr th:each="shimebi:${shimebiList}">
						        	<div th:switch="${shimebi}">
									    <div th:if="${kokyaku}">
										    	<div th:case="${kokyaku.shimebi}" ><option th:value="${shimebi}" th:text="${shimebi}"  selected="selected" /></div>
											    <div th:case="*" ><option th:value="${shimebi}" th:text="${shimebi}" /></div>
										</div>
									    <div th:unless="${kokyaku}">
									    	<div th:case="*" ><option th:value="${shimebi}" th:text="${shimebi}" /></div>
										</div>
									</div>
								</tr>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="nyukinHohoKubun">入金方法</label>
							<div class="col-sm-9">
						      <select class="form-control whenRegister whenUpdate" id="nyukinHohoKubun" name="nyukinHohoKubun">
						        <option value="">選択してください</option>
					        	<tr th:each="nyukinHohoKubun:${nyukinHohoKubunList}">
						        	<div th:switch='${nyukinHohoKubun.get("code")}'>
									    <div th:if="${kokyaku}">
									    	<div th:case="${kokyaku.nyukinHohoKubun}" ><option th:value='${nyukinHohoKubun.get("code")}' th:text='${nyukinHohoKubun.get("name")}'  selected="selected" /></div>
											<div th:case="''" ></div>
									    	<div th:case="*" ><option th:value='${nyukinHohoKubun.get("code")}' th:text='${nyukinHohoKubun.get("name")}' /></div>
										</div>
									    <div th:unless="${kokyaku}">
											<div th:case="''" ></div>
									    	<div th:case="*" ><option th:value='${nyukinHohoKubun.get("code")}' th:text='${nyukinHohoKubun.get("name")}' /></div>
										</div>
									</div>
								</tr>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="nyukinTsukiKubun">入金月区分</label>
							<div class="col-sm-9">
						      <select class="form-control whenRegister whenUpdate" id="nyukinTsukiKubun" name="nyukinTsukiKubun">
						        <option value="">選択してください</option>
					        	<tr th:each="nyukinTsukiKubun:${nyukinTsukiKubunList}">
						        	<div th:switch='${nyukinTsukiKubun.get("code")}'>
									    <div th:if="${kokyaku}">
									    	<div th:case="${kokyaku.nyukinTsukiKubun}" ><option th:value='${nyukinTsukiKubun.get("code")}' th:text='${nyukinTsukiKubun.get("name")}'  selected="selected" /></div>
											<div th:case="''" ></div>
									    	<div th:case="*" ><option th:value='${nyukinTsukiKubun.get("code")}' th:text='${nyukinTsukiKubun.get("name")}' /></div>
										</div>
									    <div th:unless="${kokyaku}">
											<div th:case="''" ></div>
									    	<div th:case="*" ><option th:value='${nyukinTsukiKubun.get("code")}' th:text='${nyukinTsukiKubun.get("name")}' /></div>
										</div>
									</div>
								</tr>
						      </select>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="control-label col-sm-3" for="nyukinDate">入金日</label>
							<div class="col-sm-9">
							    <div th:if="${kokyaku}">
									<input class="form-control nyukinDate whenUpdate" id="nyukinDate" name="nyukinDate" type="text"  th:field="${kokyaku.nyukinDate}"/>
								</div>
							    <div th:unless="${kokyaku}">
									<input class="form-control nyukinDate whenRegister" id="nyukinDate" name="nyukinDate" type="text" />
								</div>
							</div>
						</div>
						<div class="form-group form-group-sm">
						    <div th:if="${nyukinSight}">
								<label class="control-label col-sm-3" for="nyukinSight" >入金サイト</label>
								<div class="col-sm-9">
									<div th:text="${nyukinSight}" />
								</div>
							</div>
						</div>
						</div>
					    <div th:if="${kokyaku}">
					    	<input type="hidden" name="kokyakuVersion" th:value="${kokyaku.kokyakuVersion}" />
					    	<input type="hidden" name="nyukinKakeInfoVersion" th:value="${kokyaku.nyukinKakeInfoVersion}" />
					    	<input type="hidden" name="kokyakuRecordId" th:value="${kokyaku.kokyakuRecordId}" />
					    	<input type="hidden" name="nyukinKakeInfoRecordId" th:value="${kokyaku.nyukinKakeInfoRecordId}" />
						</div>
						<div class="form-group">
							<div class="col-sm-1 col-sm-offset-3">
								<input onClick="register();" id="registerBtn" type="button" class="btn btn-primary btn-sm whenRegister" value="登録"></input>
							</div>
							<div class="col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1">
								<input onClick="update();" id="updateBtn" type="button" class="btn btn-primary btn-sm whenUpdate" value="更新"></input>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/footer :: common_footer"></div>
</body>
</html>
